<h2
Passageiro List>
</h2>
<table class="table table-striped">

<thead>

  <tr>
    <th>Nome</th>
    <th>Sobre nome</th>
    <th>Email</th>
    <th>Ações</th>
  </tr>
</thead>

<tbody>
    <tr *ngFor="let passageiro of passageiros">
      <td>{{passageiro.nome}}</td>
      <td>{{passageiro.email}}</td>
      <td>{{passageiro.sobreNome}}</td>

      <td>
        <button (click)="updatePassageiro(passageiro.id)" class = "btn btn-info">Atualizar</button>
        <button (click)="deletePassageiro(passageiro.id)" class = "btn btn-danger "style="margin-left: 10px" >Apagar</button>
        <button (click)="passageiroDetails(passageiro.id)" class = "btn btn-info" style="margin-left: 10px;">Acessar Cadastro</button>
      </td>
    </tr>

</tbody>
</table>
